{% load static %}

<!DOCTYPE html>
<html lang="fa-IR" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="https://ogp.me/ns#" dir='rtl'>

   <head>
      <meta charset="UTF-8">
      <meta name="enamad" content="9992550" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- تنظیمات Add to Home Screen و PWA -->
      <meta name="apple-mobile-web-app-title" content=" ">
      <meta name="application-name" content=" ">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">

      <link rel="alternate" href="{{ request.build_absolute_uri }}" hreflang="fa-IR" />
      <meta name="msapplication-TileColor" content="#358597">

      <!-- Favicon و آیکون‌های Add to Home Screen -->
      <link rel="icon" type="image/png" sizes="192x192" href="/media/main/logo_2.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/media/main/logo_2.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/media/main/logo_2.png">
      <link rel="apple-touch-icon" href="/media/main/logo2.png">
      <link rel="mask-icon" href="/media/main/logo_2.png" color="#358597">
      <meta name="msapplication-TileImage" content="/media/main/logo_2.png">

      <meta name="theme-color" content="#ffffff">

        {% if request.GET.utmsource or request.GET.utm_medium or request.GET.utm_campaign %}
        <link rel="canonical" href="{{ request.build_absolute_uri }}" />
        {% else %}
        <link rel="canonical" href="{{ request.build_absolute_uri }}" />
        {% endif %}

        <meta property="og:locale" content="fa_IR" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/media/main/logo_2.png" />

        <link rel="stylesheet" href="{% static '/styles/apps22.css' %}">
    <!-- link -->
        <link rel="stylesheet" href="{% static '/swiper/swiper.css' %}">
        <!-- ==========================  DARK MODE SCRIPT ============================= -->
        <script type="text/javascript">
            if (
                localStorage.theme === "dark" ||
                (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>

          {% block meta1 %}
          {% endblock meta1 %}


  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://www.sayamedical.com",
    "logo": "https://www.sayamedical.com/media/main/logo_2.png"
  }
  </script>

    <!-- پشتیبانی از RTL -->

  </head>

<body>

  {% include "partials/svg.html" %}
  {% include "partials/header.html" %}
  {% include 'partials/not.html' %}



    {% block content %}


    {% endblock content %}


  {% include "partials/script.html" %}
  {% include "partials/footer.html" %}


</body>
<script>
