<!-- templates/product_app/product/top_selling.html -->
{% load humanize %}

<section class="mx-4 lg:container mt-10 lg:mt-20">
    <!-- SECTION TITLE -->
    <div class="flex flex-col gap-y-4 xs:flex-row items-center justify-between w-full text-center xs:text-start">
        <div class="flex items-center gap-x-2 sm:gap-x-4">
            <span class="size-12 hidden xs:flex rounded-lg bg-white shadow-lg dark:bg-gray-800 flex-center">
                <svg class="size-7 text-gray-700 dark:text-gray-100">
                    <use href="#mobile"></use>
                </svg>
            </span>
            <div class="space-y-1 md:space-y-1">
                <span class="text-xl md:text-2xl font-MorabbaMedium text-gray-800 dark:text-gray-50">
                    محصولات
                    <span class="text-blue-600 dark:text-blue-500">پرفروش</span>
                </span>
                <p class="text-sm text-gray-500 dark:text-gray-300">جدیدترین و بروزترین محصولات</p>
            </div>
        </div>
        <div class="w-full xs:w-auto flex justify-between xs:justify-end items-center gap-x-2">
            <div class="flex items-center gap-x-2">
                <button class="slider-navigate_btn BestSelling-prev-slide">
                    <svg class="size-6 -rotate-90">
                        <use href="#chevron" />
                    </svg>
                </button>
                <button class="slider-navigate_btn BestSelling-next-slide">
                    <svg class="size-6 rotate-90">
                        <use href="#chevron" />
                    </svg>
                </button>
            </div>
            <a href="#"
               class="group shadow-xl text-sm md:text-base flex gap-x-1.5 items-center px-2 h-10 md:px-3 text-white bg-blue-600 rounded-xl">
                <p>مشاهده همه</p>
                <span class="w-7 h-7 rounded-full bg-blue-500 flex-center md:group-hover:-translate-x-1 transition-transform duration-300">
                    <svg class="size-5">
                        <use href="#arrow" />
                    </svg>
                </span>
            </a>
        </div>
    </div>

    <!-- Best Selling Products Slider -->
    <div class="swiper BestSelling mt-5 w-full">
        <div class="swiper-wrapper py-5">
            {% for item in products_list %}
            <div class="swiper-slide product-card group">
                <!-- product header -->
                <div class="product-card_header">
                    <div class="flex items-center gap-x-2">

                    </div>
                    <!-- badge offer -->
                    {% if item.is_discounted %}
                    <span class="product-card_badge">{{ item.discount_percent }}% تخفیف</span>
                    {% endif %}
                </div>

                <!-- product img -->
                <a href="{{ item.product.get_absolute_url }}">
                    {% if item.product.mainImage %}
                    <!-- تصویر اول -->
                    <img loading="lazy" class="product-card_img group-hover:opacity-0 absolute"
                         src="{{ item.product.mainImage.url }}"
                         alt="{{ item.product.title }}">

                    <!-- تصویر دوم از گالری (اگر وجود دارد) -->
                    {% with second_image=item.product.galleries.first %}
                    {% if second_image %}
                    <img loading="lazy" class="product-card_img opacity-0 group-hover:opacity-100"
                         src="{{ second_image.image.url }}"
                         alt="{{ second_image.alt_text|default:item.product.title }}">
                    {% else %}
                    <!-- اگر تصویر دوم نداریم، همان تصویر اول را نمایش می‌دهیم -->
                    <img loading="lazy" class="product-card_img opacity-0 group-hover:opacity-100"
                         src="{{ item.product.mainImage.url }}"
                         alt="{{ item.product.title }}">
                    {% endif %}
                    {% endwith %}
                    {% endif %}
                </a>

                <!-- product footer -->
                <div class="space-y-2">
                    <a href="{{ item.product.get_absolute_url }}" class="product-card_link">
                        {{ item.product.title }}
                    </a>

                    <!-- Rate and Price -->
                    <div class="product-card_price-wrapper">
                        <!-- RATE -->
                        <div class="product-card_rate">
                            <span class="flex items-center gap-x-0.5">
                                <svg class="size-4 text-blue-500 mb-0.5">
                                    <use href="#rocket"></use>
                                </svg>
                                <p class="text-xs">ارسال امروز</p>
                            </span>
                            <span class="text-gray-400 flex items-center text-sm gap-x-0.5">
                                <p>{{ item.product.average_rating|floatformat:1 }}</p>
                                <svg class="size-4 mb-1">
                                    <use href="#star"></use>
                                </svg>
                            </span>
                        </div>

                        <!-- Price -->
                        <div class="product-card_price">
                            {% if item.is_discounted %}
                            <del>{{ item.original_price|intcomma }}<h6>تومان</h6></del>
                            <p>{{ item.final_price|intcomma }}</p>
                            {% else %}
                            <p>{{ item.original_price|intcomma }}</p>
                            {% endif %}
                            <span style='background:#22adbd;'>تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <!-- اگر محصولی نبود -->
            <div class="swiper-slide product-card group">
                <div class="flex items-center justify-center h-full">
                    <p class="text-gray-500">هنوز محصولی فروخته نشده است.</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>