{% if head_sliders %}
<div class="px-3 lg:container group w-full mt-4 lg:mt-10">
          <div dir="rtl" class="swiper header-slider h-52 md:h-96 cursor-pointer">
              <div class="swiper-wrapper">
                  {% for slider in head_sliders %}
                  <a href="{% if slider.link %}{{ slider.link }}{% else %}#{% endif %}" class="swiper-slide">
                      <img loading="lazy"  src="{{ slider.imageName.url }}" class="rounded-xl" alt="{{ slider.altSlide }}">
                  </a >
                  {% empty %}
                  <!-- اسلایدر پیش‌فرض اگر هیچ اسلایدی وجود ندارد -->
                  <a href="shop.html" class="swiper-slide">
                      <img loading="lazy" src="{{ media_url }}/images/banner/default-slider.webp" class="rounded-xl" alt="فروشگاه">
                  </a >
                  {% endfor %}
              </div>
              <div class="swiper-pagination-wrapper">
                  <div class="swiper-pagination"></div>
              </div>

              <!-- Swiper Navigation -->
              <div
                  class="absolute z-10 bottom-5 opacity-0 invisible group-hover:opacity-100 transition-all duration-300 group-hover:visible right-6 hidden lg:flex items-center gap-x-2 child:flex-center child:w-9 child:h-9 child:cursor-pointer child:bg-white child:dark:bg-gray-800 child:text-gray-700 child:dark:text-gray-200 child:rounded-full child:shadow child-hover:text-blue-600 child-hover:dark:text-blue-500">
                  <button class="button-prev">
                      <svg class="size-5 -rotate-90">
                          <use href="#chevron" />
                      </svg>
                  </button>
                  <button class="button-next">
                      <svg class="size-5 rotate-90">
                          <use href="#chevron" />
                      </svg>
                  </button>
              </div>

          </div>
      </div>


{% endif %}