{% extends "main_template.html" %}

{% load render_partial %}

{% block content %}


 <main class="relative">
        <!-- CATEGORY -->
        <section class="mx-4 lg:container mt-20">
            <!-- SECTION TITLE -->
            <div
                class="flex flex-col gap-y-4 xs:flex-row items-center justify-between w-full text-center xs:text-start">
                <div class="flex items-center gap-x-2 sm:gap-x-4">
                    <span class="size-12 hidden xs:flex rounded-lg bg-white shadow-lg dark:bg-gray-800 flex-center">
                        <svg class="size-7 text-gray-700 dark:text-gray-100">
                            <use href="#squares"></use>
                        </svg>
                    </span>
                    <div class="space-y-1 md:space-y-1">
                        <h3 class="text-xl md:text-2xl font-MorabbaMedium text-gray-800 dark:text-gray-50">دسـته بندی
                            هـای
                            <span class="text-blue-600 dark:text-blue-500">محبوب</span>
                        </h3>
                        <p class="text-sm text-gray-500 dark:text-gray-300">جدیدترین و بروزترین دسته بندی ها</p>
                    </div>
                </div>
                <div class="w-full xs:w-auto flex justify-center items-center gap-x-2">
                    <a href="shop.html"
                        class="group shadow-xl text-sm md:text-base flex gap-x-1.5 items-center px-2 h-10 md:px-3 text-white bg-blue-600 rounded-xl">
                        <p>مشاهده همه</p>
                        <span
                            class="w-7 h-7 rounded-full bg-blue-500 flex-center md:group-hover:-translate-x-1 transition-transform duration-300">
                            <svg class="size-5">
                                <use href="#arrow" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <!-- ITEMS -->
           {% render_partial "product:rich_categories" %}

        </section>

        <!-- AMAZING SLIDER -->
        {% render_partial 'discount:amazing_products' %}


        <!-- Latest products -->
       {% render_partial 'product:lastedProduct' %}

        <!-- BANNER -->
        <section
            class="mx-4 lg:container mt-10 lg:mt-20 flex flex-col lg:flex-row items-center gap-5 child:rounded-xl child:overflow-hidden">
            <a href="shop.html" class="group">
                <img src="{{media_url}}/images/banner/4cover.webp" class="group-hover:scale-105 transition-transform duration-300"
                    alt="">
            </a>
            <a href="shop.html" class="group">
                <img src="{{media_url}}/images/banner/5cover.webp" class="group-hover:scale-105 transition-transform duration-300"
                    alt="">
            </a>
        </section>

        <!-- Best-selling products -->
     {% render_partial 'product:top_selling' %}

        <!-- BRAND -->
      {% render_partial 'product:brand' %}

        <!-- Hottest products -->


        <!-- ARTICLE -->
        {% include 'blog_app/mainblog.html' %}

        <!-- Features -->
        <div
            class="container w-full mt-10 lg:mt-20 flex flex-wrap items-center justify-between gap-6 child:text-sm child:gap-y-1 child:cursor-pointer">
            <!-- item -->
            <span class="flex-col items-center justify-center hidden md:flex">
                <img class="w-14 h-14" src="{{media_url}}/images/svg/1.svg " alt="">
                <p class="text-gray-500 dark:text-gray-300">امکان تحویل اکسپرس</p>
            </span>
            <span class="flex flex-col items-center justify-center">
                <img class="w-14 h-14" src="{{media_url}}/images/svg/2.svg" alt="">
                <p class="text-gray-500 dark:text-gray-300">ضمانت اصل بودن کالا</p>
            </span>
            <span class="flex flex-col items-center justify-center">
                <img class="w-14 h-14" src="{{media_url}}/images/svg/3.svg" alt="">
                <p class="text-gray-500 dark:text-gray-300">ضمانت بازگشت کالا</p>
            </span>
            <span class="flex flex-col items-center justify-center">
                <img class="w-14 h-14" src="{{media_url}}/images/svg/4.svg" alt="">
                <p class="text-gray-500 dark:text-gray-300">پشتیبانی 24 ساعته</p>
            </span>
            <span class="flex flex-col items-center justify-center">
                <img class="w-14 h-14" src="{{media_url}}/images/svg/5.svg" alt="">
                <p class="text-gray-500 dark:text-gray-300">امکان پرداخت در محل</p>
            </span>
        </div>
    </main>



{% endblock content %}